<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <title>{% block meta_title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}"/>
        <meta name="keywords" content=""/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/css/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/init.js"></script>
        {%block js %}{% endblock %}
    </body>
</html>